/* resetting default style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #A6F0C6;
}

.app {
  /* parent flex box set up as column*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;

}

/* NAVIGATION SIDE BAR */
.navSideBar {
  background-color:#A6F0C6;
  position: absolute;
  left: 0%;
  top: 80px;
  width: 300px;
  height: 80%;
  z-index: 2;
  padding: 20px;
  /* border-style: solid solid hidden solid; */
  border-width: 10px;
  border-radius: 0px 10px 10px 0px;
  border-color:#A6F0C6;
  box-shadow: 0 0 10px #949292;
  z-index: 3;
  /* border */
}

.navContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* MENU */
.menu {
  /* parent flex box set up as a row */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 87%;
  /* height: 100px; */
  align-self: center;
  position: absolute;
  top: 10px;
}

/* Small title */
#h1small {
  position: absolute;
  left: 30%;
  font-size: 24px;
}

/* CONTROL PANEL */
.controlPanel {
  /* parent flex box set up as a row */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  align-self: center;
  position: absolute;
  bottom: 0px;
  /* background-color: #A6F0C6; */
  /* z-index: 2; */
}

/* BOOK */
.bookContainer {
  width: 90%;
  height: 85%;
  position: absolute;
  align-self: center;
  top: 60px;
  /* transform: translate(-50%, -50%); */
  overflow: hidden;
  padding: 20px;
  z-index: 1;
}

.book {
  /* display: flex;
  flex-direction: row; */
  /* align-self: center; */
  /* height: 600px; */
  /* width: 800px; */
  position: relative;
  top: 0px;
  width:100%;
  height:100%;
  background-color: white;
  box-shadow: 0 0 10px #949292;
  /* visibility: hidden; */
}

/* Mobile First - one page initially*/
.content-left {
  position: absolute;
  top: 20px;
  right: 5%;
  width: 90%;
  /* height: 80%; */
  bottom: 20px;
}

.content-right {
  /* background-color: #A6F0C6; */
  position: absolute;
  top: 20px;
  right: 5%;
  /* left:10px; */
  width: 44%;
  bottom: 20px;
  /* height: 80%; */
  visibility: hidden;
}

.button {
  color: black;
  background-color: darkcyan;
  border-width: 0px;
  border-radius: 10%;
  margin: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  text-transform: uppercase;
  height: 40px;
  padding: 10px;
  cursor: pointer;
}

.inline-block-child {
  display: inline-block;
}

.page-number {
  display: inline-block;
}

.pages {
  white-space: nowrap;
}

/* DEFENITION PAGE */
.defPage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background-color: white;
  /* box-shadow: 0 0 10px #949292;
  padding: 20px; */
}

/* TO FIX */
/* .defText {
  overflow: hidden;
} */

.definition {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.definitionWord {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 10%;
}

.quizButton {
  position: absolute;
  right: 10%;
  bottom: 10%;
}

.returnToBook {
  position: absolute;
  left: 10%;
  bottom: 10%;
}

/* QUIZ PAGE */

.stars {
  display: flex;
  flex-direction: row;
  /* justify-content: left; */
  position: absolute;
  width: 300px;
  /* align-items: center; */
  top: -40px;
  /* right: 50%; */
  /* transform: translate(-50%, -50%); */
  /* background-color: grey; */
  /* width: 70px; */
}

#defLabel {
  align-self: center;
  position: absolute;
  top: 20px;
  width: 100%;
  /* right: 20%; */
}

.defLabelText {
  position: relative;
  top:70px;
  height: 30%;
  text-overflow: clip;
}

.quizButton1 {
  position: absolute;
  left: 7%;
  bottom: 40%;
  height: 25%;
  width: 40%;
}
.quizButton2 {
  position: absolute;
  right: 10%;
  bottom: 40%;
  height: 25%;
  width: 40%;
}
.quizButton3 {
  position: absolute;
  left: 7%;
  bottom: 10%;
  height: 25%;
  width: 40%;
}
.quizButton4 {
  position: absolute;
  right: 10%;
  bottom: 10%;
  height: 25%;
  width: 40%;
}

.button {
  width: 100%;
  height: 100%;
  border-radius: 0%;
}

/* Intro Page */
.bookContainerIntro {
  width: 90%;
  height: 85%;
  position: absolute;
  align-self: center;
  top: 60px;
  /* transform: translate(-50%, -50%); */
  overflow: hidden;
  padding: 20px;
  z-index: 2;
}

#introBtn {
  position: absolute;
  align-self: center;
  /* padding: 10px; */
  margin: 10px;
}

.intro {
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  justify-content: flex-start;
  align-items: center;
  /* padding: 20px; */

  position: absolute;
  top: 20px;
  align-self: center;
  right: 8%;
  width: 84%;
  /* height: 80%; */
  bottom: 20px;
  /* background-color: #A6F0C6; */
  overflow: scroll;
  /* position: absolute; */
}

/* In intro Page */
.craneImg {
  /* display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 20px;
  justify-content: space-around; */
  height: 270px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Images Page */
.introImg {

  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  width: 100%;
  /* height: 270px; */
  
  /* justify-content: space-around; */
  /* overflow: scroll; */
  /* position: absolute;
  top: 20px;
  align-self: center; */
  /* right: 8%; */
  /* max-width: 84%; */

  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  position: absolute;
  top: 20px;
  align-self: center;
  right: 8%;
  width: 84%;
  overflow: scroll; */
}

.introImg > img {
  max-width: fit-content;
  max-height: 500px;
  margin: 10px;
}

#top {
  z-index: 1;
}

#crane {
  max-height: 100%;
  max-width: 100%;
}

.craneImg {
  margin: 10px;
  height: 300px;
}

.craneImg2 {
  margin: 10px;
  height: 600px;
}

/* #item {
  margin: 10px;
} */
.introText {
  margin: 10px;
  /* width: 700px; */
  /* overflow: auto; */
}

pre {
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

/* TO FIX */
#imgItem {
  margin: 20px;
  max-height: 600px;
  max-width: 300px;
  /* min-height: 400px; */
  /* max-width: 800px; */
}

#longBtn {
  width:48%;
  /* background-color: aqua; */
  /* border-radius: 50%; */
  /* margin: 10px; */
}

.hideControl {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  /* align-self: center; */
  position: absolute;
  bottom: 0px;
  background-color: #A6F0C6;
}

/* Adding MOBILE VERSION - Mobile first so that it loads faster on mobile devices */
@media (min-width: 800px) {
  .content-left {
    position: absolute;
    top: 20px;
    left: 5%;
    width: 44%;
    /* height: 80%; */
    bottom: 20px;
  }

  .content-right {
    visibility: visible;
  }

  .bookContainer {
    top: 60px;
    height: 85%;
  }

  .defPage {
    height: 90%;
    width: 80%;
  }
}