/* resetting default style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #A6F0C6;
}

.app {
  /* parent flex box set up as column*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;

}

.menu {
  /* parent flex box set up as a row */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  /* height: 100px; */
  align-self: center;
  position: absolute;
  top: 10px;
  visibility: hidden;
}

/* Mobile version of the menu style */
.menuMobile {
  /* parent flex box set up as a row */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  align-self: center;
  position: absolute;
  top: 10px;
  visibility: visible;
  /* margin-bottom: 10px; */
}

.menuMobileRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  align-self: center;
}

#h1small {
  font-size: 24px;
}

.icon-nav {
  width: 10px;
  height: 10px;
}

.controlPanel {
  /* parent flex box set up as a row */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  align-self: center;
  position: absolute;
  bottom: 0px;
  background-color: #A6F0C6;
}

.bookContainer {
  width: 90%;
  /* min-width: 500px; */
  height: 80%;
  position: absolute;
  align-self: center;
  /* top: 80px; */
  top: 80px;
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  overflow: hidden;
  padding: 20px;
  /* visibility: visible; */
}

.bookWithControl {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 100%;
  height: 100%;
  position: absolute;
  align-self: center;
  /* top: 80px; */
  top: 10px;
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* overflow: hidden; */
  /* padding: 20px; */
}


.bookOnePage {
  position: relative;
  top: -100%;
  width:100%;
  height:100%;
  background-color: lightcoral;
  box-shadow: 0 0 10px #949292;
  visibility: visible;
}

.book {
  /* display: flex;
  flex-direction: row; */
  /* align-self: center; */
  /* height: 600px; */
  /* width: 800px; */
  position: relative;
  top: 0px;
  width:100%;
  height:100%;
  background-color: white;
  box-shadow: 0 0 10px #949292;
  visibility: hidden;
}

.content-right {
  position: absolute;
  top: 10%;
  right: 7%;
  width: 42%;
  height: 80%;
}

.content-left {
  position: absolute;
  top: 10%;
  left: 7%;
  width: 42%;
  height: 80%;
}

.content-one {
  position: absolute;
  top: 10%;
  left: 7%;
  width: 84%;
  height: 80%;
  background-color: white;
}

.button {
  color: black;
  background-color: darkcyan;
  border-width: 0px;
  border-radius: 10%;
  margin: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  text-transform: uppercase;
  height: 40px;
  padding: 10px;
  cursor: pointer;
}

.inline-block-child {
  display: inline-block;
}

.page-number {
  display: inline-block;
}

.pages {
  white-space: nowrap;
}

/* Adding mobile version - Mobile first so that it loads faster on mobile devices */

@media (min-width: 750px) {

  .menu {
    visibility: visible;
  }

  .menuMobile {
    visibility: hidden;
  }

  .book {
    visibility: visible;
  }

  .bookOnePage {
    visibility: hidden;
  }
}